<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">

</head>
<body>
    <center>
        <h1>
            This is HTML page
        </h1>
        <image src="{% static 'image/dhoni.jpeg' %}" alt="No image"></image>
        <image src="{% static 'image/rohith.jpeg' %}" alt="No image"></image>
        <image src="{% static 'image/virot.jpeg' %}" alt="No image"></image>
    </center>
</body>
</html>